<div id="login" class="container">
  <div class="row">
    <form role="form">
         <div class="form-group">
        <label for="InputUsername">用户名</label>
        <input type="text" class="form-control" id="InputUsername" placeholder="请输入用户名">
      </div>
      <div class="form-group">
        <label for="InputPassword1">密码</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码...">
      </div>
      <button type="submit" class="btn btn-primary">登录</button>
    </form>
  </div>
</div>

