<div id="login" class="container">
  <div class="row">
    <form role="form" name="loginForm" ng-submit="login()">
      <div class="form-group">
        <label for="InputUsername">用户名</label>
        <input type="text" class="form-control" name="InputUsername" id="InputUsername" placeholder="请输入用户名" ng-model="userName" ng-pattern="/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){5,17}$/" required>
        <span ng-show="loginForm.InputUsername.$invalid">6-18位字母数字下划线(字母开头)</span>
      </div>
      <div class="form-group">
        <label for="InputPassword1">密码</label>
        <input type="password" class="form-control" name="InputPassword1" id="InputPassword1" placeholder="请输入密码..." ng-model="psd" ng-pattern="/^([a-zA-Z0-9]|[._]){6,18}$/" required>
        <span ng-show="loginForm.InputPassword1.$invalid">6-18位字母数字下划线</span>
      </div>
       <input type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" value="登录">
    </form>
  </div>
</div>
