<div>
     <div>
         <span style="width:100px" ui-sref=".javascript"><a href="">Page-1</a></span>
         <span style="width:100px" ui-sref=".angular"><a href="">Page-2</a></span>
         <span style="width:100px" ui-sref=".nodejs"><a href="">Page-3</a></span>
         <span style="width:100px" ui-sref=".register"><a href="">register</a></span>
         <span style="width:100px" ui-sref=".login"><a href="">login</a></span>
     </div>
     <div>
          <div ui-view=""/>
     </div>
</div>
